{% extends "bookings/base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow p-4">
      <h3 class="text-center mb-4">Login</h3>

      <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="mb-3">
          <label for="id_username" class="form-label">Username</label>
          {{ form.username }}
        </div>

        <div class="mb-3">
          <label for="id_password" class="form-label">Password</label>
          {{ form.password }}
        </div>

        {% if next %}
          <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <br>
        <button class="btn btn-primary w-100 mb-3" type="submit">Login</button>
        
      </form>

      <hr>
      <div class="text-center">
        <small>Don't have an account? 
          <a href="{% url 'register' %}">Register here</a>.
        </small>
      </div>
    </div>
  </div>
</div>

<style>
  input, select, textarea {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
  }
</style>
{% endblock %}
